{% unless cart == empty %} 
    <div class="freeShipping__wrapper">
        {% liquid 
        assign shipping_value = 5000
        assign cart_total = cart.total_price
        assign shipping_value_left = shipping_value | minus: cart_total
        assign percentage_value = cart_total | times: 100 | divided_by: shipping_value
        %}
        <div class="freeShipping__icon icon--boxed">
            {% render 'icon-accordion' icon: 'truck' %}
        </div>
        <div class="freeShipping__progress">
        <span class="freeShipping__message">
            {% if shipping_value_left < 0 %}
            Complimenti spedizione gratuita.
            {% else %}
            Ti mancano ancora <b>{{ shipping_value_left | money }}</b> per la spedizione gratuita.
            {% endif %}
        </span>
        <progress 
            {% if shipping_value_left < 0 %}
            value="100"
            {% else %}
            value="{{ percentage_value }}"
            {% endif %}
            max="100"
            >
            {{ percentage_value }}%
        </progress>
        </div>
    </div>
{% endunless %}