/* hide */
@media screen and (max-width: 749px) {
	.small-hide {
		display: none !important;
	}
}

@media screen and (min-width: 750px) and (max-width: 989px) {
	.medium-hide {
		display: none !important;
	}
}

@media screen and (min-width: 990px) {
	.large-up-hide {
		display: none !important;
	}
}

.hidden {
	display: none !important;
}

.visually-hidden {
	position: absolute !important;
	overflow: hidden;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
	clip: rect(0 0 0 0);
	word-wrap: normal !important;
}

.visually-hidden--inline {
	margin: 0;
	height: 1em;
}

.visibility-hidden {
	visibility: hidden;
}

.overflow-hidden {
	overflow: hidden;
}

.rte-width {
	max-width: 82rem;
	margin: 0 auto 2rem;
}

.list-unstyled {
	margin: 0;
	padding: 0;
	list-style: none;
}


/* grid */
.grid-auto-flow {
	display: grid;
	grid-auto-flow: column;
}

/* base-focus */
/*
  Focus ring - default (with offset)
*/

*:focus {
	outline: 0;
	box-shadow: none;
}

*:focus-visible {
	outline: 0.2rem solid rgba(var(--color-foreground), 0.5);
	outline-offset: 0.3rem;
	box-shadow: 0 0 0 0.3rem rgb(var(--color-background)),
		0 0 0.5rem 0.4rem rgba(var(--color-foreground), 0.3);
}

/* Fallback - for browsers that don't support :focus-visible, a fallback is set for :focus */
.focused,
.no-js *:focus {
	outline: 0.2rem solid rgba(var(--color-foreground), 0.5);
	outline-offset: 0.3rem;
	box-shadow: 0 0 0 0.3rem rgb(var(--color-background)),
		0 0 0.5rem 0.4rem rgba(var(--color-foreground), 0.3);
}

/* Negate the fallback side-effect for browsers that support :focus-visible */
.no-js *:focus:not(:focus-visible) {
	outline: 0;
	box-shadow: none;
}

/*
Focus ring - inset
*/

.focus-inset:focus-visible {
	outline: 0.2rem solid rgba(var(--color-foreground), 0.5);
	outline-offset: -0.2rem;
	box-shadow: 0 0 0.2rem 0 rgba(var(--color-foreground), 0.3);
}

.focused.focus-inset,
.no-js .focus-inset:focus {
	outline: 0.2rem solid rgba(var(--color-foreground), 0.5);
	outline-offset: -0.2rem;
	box-shadow: 0 0 0.2rem 0 rgba(var(--color-foreground), 0.3);
}

.no-js .focus-inset:focus:not(:focus-visible) {
	outline: 0;
	box-shadow: none;
}

/*
Focus ring - none
*/

/* Dangerous for a11y - Use with care */
.focus-none {
	box-shadow: none !important;
	outline: 0 !important;
}

.focus-offset:focus-visible {
	outline: 0.2rem solid rgba(var(--color-foreground), 0.5);
	outline-offset: 1rem;
	box-shadow: 0 0 0 1rem rgb(var(--color-background)),
		0 0 0.2rem 1.2rem rgba(var(--color-foreground), 0.3);
}

.focus-offset.focused,
.no-js .focus-offset:focus {
	outline: 0.2rem solid rgba(var(--color-foreground), 0.5);
	outline-offset: 1rem;
	box-shadow: 0 0 0 1rem rgb(var(--color-background)),
		0 0 0.2rem 1.2rem rgba(var(--color-foreground), 0.3);
}

.no-js .focus-offset:focus:not(:focus-visible) {
	outline: 0;
	box-shadow: none;
}

.no-js:not(html) {
	display: none !important;
}

html.no-js .no-js:not(html) {
	display: block !important;
}

.no-js-inline {
	display: none !important;
}

html.no-js .no-js-inline {
	display: inline-block !important;
}

html.no-js .no-js-hidden {
	display: none !important;
}

.skip-to-content-link:focus {
	z-index: 9999;
	position: inherit;
	overflow: auto;
	width: auto;
	height: auto;
	clip: auto;
}

.full-width-link {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 2;
}