/* component-modal */
.modal__toggle {
    list-style-type: none;
  }
  
  .no-js details[open] .modal__toggle {
    position: absolute;
    z-index: 5;
  }
  
  .modal__toggle-close {
    display: none;
  }
  
  .no-js details[open] svg.modal__toggle-close {
    display: flex;
    z-index: 1;
    height: 1.7rem;
    width: 1.7rem;
  }
  
  .modal__toggle-open {
    display: flex;
  }
  
  .no-js details[open] .modal__toggle-open {
    display: none;
  }
  
  .no-js .modal__close-button.link {
    display: none;
  }
  
  .modal__close-button.link {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0rem;
    height: 4.4rem;
    width: 4.4rem;
    background-color: transparent;
  }
  
  .modal__close-button .icon {
    width: 1.7rem;
    height: 1.7rem;
  }
  
  .modal__content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgb(var(--color-background));
    z-index: 4;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .media-modal {
    cursor: zoom-out;
  }
  
  .media-modal .deferred-media {
    cursor: initial;
  }