/* section-announcement-bar */
#shopify-section-announcement-bar {
    z-index: 4;
  }
  
  .announcement-bar {
    border-bottom: 0.1rem solid rgba(var(--color-foreground), 0.08);
    color: rgb(var(--color-foreground));
  }
  
  
  .announcement-bar__message {
    padding: .5rem 0;
    margin: 0;
    letter-spacing: 0.1rem;
  }