/* section-header */
#shopify-section-header {
    z-index: 3;
  }
  
  .shopify-section-header-sticky {
    position: sticky;
    top: 0;
  }
  
  .shopify-section-header-hidden {
    transform: translateY(-100%);
  }
  
  .shopify-section-header-hidden.menu-open {
    transform: translateY(0);
  }
  
  #shopify-section-header.animate {
    transition: transform 0.15s ease-out;
  }
  
  /* Main Header Layout */
  .header-wrapper {
    display: block;
    position: relative;
    background-color: rgb(var(--color-background));
  }
  
  .header-wrapper--border-bottom {
    border-bottom: 0.1rem solid rgba(var(--color-foreground), 0.08);
  }
  
  .header {
    display: grid;
    grid-template-areas: 'left-icon heading icons';
    grid-template-columns: 1fr 2fr 1fr;
    align-items: center;
  }
  
  @media screen and (min-width: 990px) {
    .header--top-left,
    .header--middle-left:not(.header--has-menu) {
      grid-template-areas:
        'heading icons'
        'navigation navigation';
      grid-template-columns: 1fr auto;
    }
  
    .header--middle-left {
      grid-template-areas: 'heading navigation icons';
      grid-template-columns: auto auto 1fr;
      column-gap: 2rem;
    }
  
    .header--top-center {
      grid-template-areas:
        'left-icon heading icons'
        'navigation navigation navigation';
    }
  
    .header:not(.header--middle-left) .header__inline-menu {
      margin-top: 1.05rem;
    }
  }
  
  .header *[tabindex='-1']:focus {
    outline: none;
  }
  
  .header__heading {
    margin: 0;
    line-height: 0;
  }
  
  .header > .header__heading-link {
    line-height: 0;
  }
  
  .header__heading,
  .header__heading-link {
    grid-area: heading;
    justify-self: center;
  }
  
  .header__heading-link {
    display: inline-block;
    padding: 0.75rem;
    text-decoration: none;
    word-break: break-word;
  }
  
  .header__heading-link:hover .h2 {
    color: rgb(var(--color-foreground));
  }
  
  .header__heading-link .h2 {
    line-height: 1;
    color: rgba(var(--color-foreground), 0.75);
  }
  
  .header__heading-logo {
    height: auto;
    width: 100%;
  }
  
  @media screen and (max-width: 989px) {
    .header__heading,
    .header__heading-link {
      text-align: center;
    }
  }
  
  @media screen and (min-width: 990px) {
    .header__heading-link {
      margin-left: -0.75rem;
    }
  
    .header__heading,
    .header__heading-link {
      justify-self: start;
    }
  
    .header--top-center .header__heading-link,
    .header--top-center .header__heading {
      justify-self: center;
      text-align: center;
    }
  }
  
  /* Header icons */
  .header__icons {
    display: flex;
    grid-area: icons;
    justify-self: end;
  }
  
  .header__icon:not(.header__icon--summary),
  .header__icon span {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .header__icon {
    color: rgb(var(--color-foreground));
  }
  
  .header__icon span {
    height: 100%;
  }
  
  .header__icon::after {
    content: none;
  }
  
  .header__icon:hover .icon,
  .modal__close-button:hover .icon {
    transform: scale(1.07);
  }
  
  .header__icon .icon {
    height: 2rem;
    width: 2rem;
    fill: none;
    vertical-align: middle;
  }
  
  .header__icon,
  .header__icon--cart .icon {
    height: 4.4rem;
    width: 4.4rem;
    padding: 0;
  }
  
  .header__icon--cart {
    position: relative;
    margin-right: -1.2rem;
  }
  
  @media screen and (max-width: 989px) {
    menu-drawer ~ .header__icons .header__icon--account {
      display: none;
    }
  }
  
  .header__icon--menu[aria-expanded="true"]::before {
    content: "";
    top: 100%;
    left: 0;
    height: calc(var(--viewport-height, 100vh) - (var(--header-bottom-position, 100%)));
    width: 100%;
    display: block;
    position: absolute;
    background: rgba(var(--color-foreground), 0.5);
  }