/* base-details-summary */
summary {
    cursor: pointer;
    list-style: none;
    position: relative;
  }

  
  summary::-webkit-details-marker {
    display: none;
  }
  
  .disclosure-has-popup {
    position: relative;
  }
  
  .disclosure-has-popup[open] > summary::before {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    display: block;
    cursor: default;
    content: ' ';
    background: transparent;
  }
  
  .disclosure-has-popup > summary::before {
    display: none;
  }
  
  .disclosure-has-popup[open] > summary + * {
    z-index: 100;
  }
  
  @media screen and (min-width: 750px) {
    .disclosure-has-popup[open] > summary + * {
      z-index: 4;
    }
  
    .facets .disclosure-has-popup[open] > summary + * {
      z-index: 2;
    }
  }