.bundle-builder {
  display: grid;
  grid-template-columns: 1.8fr 1.2fr;
  align-items: start;
  column-gap: calc(var(--grid-desktop-vertical-spacing) * 6);
  width: 100%;
}

.bundle-builder .underline-links-hover:hover a {
	text-decoration: none !important;
}

.product-list .product-list--title {
  padding: calc(var(--grid-desktop-vertical-spacing) * 2) 0;
}

.product-list .product-list--product {
  margin: 0;
  padding: 0.75rem 1rem;
}
.product-list--button-container {
	position: absolute;
  top: 0;
  left: 0;
	display: flex;
	flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
	z-index: 1;
	width: 100%;
	height: 100%;
}

.product-list--button-container > button {
	display: flex;
  justify-content: space-around;
  column-gap: 1rem;
}

.product-list--button-container > button > svg {
	height: 2rem;
	width: 2rem;
}

.grid__item.added {
  position: relative;
}

.grid__item.added::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 1px solid rgba(var(--color-foreground), 1);
	background: #ffffffcc;
}
.bundle-builder--left {
	max-width: 100rem;
}

.bundle-builder-aside {
  position: sticky;
  top: 0;
  padding: calc(var(--grid-desktop-vertical-spacing) * 3);
	margin: calc(var(--grid-desktop-vertical-spacing) * 3) 0;
  z-index: 99;
	max-width: 45rem;
}

.bundle-builder .bundle-builder--description,
.bundle-builder .bundle-builder-aside--description,
.bundle-builder-aside--products--no-products {
  padding: var(--grid-desktop-vertical-spacing) 0;
}
.bundle-builder .bundle-builder--description {
  max-width: 90%;
}
.bundle-builder-aside--products {
  display: flex;
  flex-direction: row;
}

.bundle-builder-aside--product {
  display: flex;
  flex-direction: column;
  padding: var(--grid-desktop-vertical-spacing) 0;
  column-gap: var(--grid-desktop-vertical-spacing);
  justify-content: space-between;
}
.bundle-builder-aside--totals {
  display: flex;
  padding: var(--grid-desktop-vertical-spacing) 0;
  column-gap: var(--grid-desktop-vertical-spacing);
  justify-content: space-between;
  border-bottom: 1px solid rgba(var(--color-foreground), 0.4);
}

.bundle-builder-aside--totals {
	border: 0;
}

.bundle-builder-aside--product p {
  padding: 0;
}

.bundle-builder-aside--product .price {
  display: flex;
  align-items: center;
}

.bundle-builder-aside--product * {
  font-size: 14px;
}

.bundle-builder-aside--product .price--on-sale .price__sale {
  display: flex;
  flex-direction: column;
}

form .bundle-builder-aside--product {
  display: none;
}

.bundle-builder-aside--product img {
  max-width: 10rem;
}

@media (min-width: 750px) {
  .bundle-builder-aside .totals {
    padding: calc(var(--grid-desktop-vertical-spacing) * 2) 0;
    justify-content: space-between;
  }
}

.toast {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  border-radius: 5px;
  z-index: 9999;
  display: flex;
  align-items: center;
}

.toast-message {
  margin-right: 10px;
}

.close-btn {
  cursor: pointer;
}

.bundle-builder-aside--element {
  display: flex;
  align-items: center;
  column-gap: 2rem;
  padding: .5rem 0;
}

.bundle-builder-aside--element-icon {
  display: flex;
  padding: var(--grid-desktop-vertical-spacing);
  background-color: rgba(var(--color-foreground), .1);
  border-radius: 100%;
}

.bundle-builder-form--group {
	display: flex;
	flex-direction: column;
  padding: var(--grid-desktop-vertical-spacing) 0;
  justify-content: space-between;
}